<!DOCTYPE html>
<html lang="en">

<head>
    <link type="text/css" rel="stylesheet"
        href="https://cdn.rawgit.com/greaka/discordwvwbot/d38cb2e/templates/master.css">
    <title>Gw2 Discord WvW Bot</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
        content="Gw2 Discord WvW Bot is your tool for WvW verifying. Manage your Guild Wars 2 WvW community with customizable verifying modes and settings! On the fly role updates and written with the coming alliance system in mind, to provide a smooth transition." />
    <meta name="google-site-verification" content="ktFNxQSTG2YB5P-Tll9EP-7qcLOCTXRHbdshNe6kNIU" />
    <style>
        body {
            max-width: 700px;
            margin: auto;
        }
    </style>
</head>

<body>
    <form action="/dashboard" class="side">
        <input type="submit" value="Server Dashboard">
    </form>
    <form action="https://github.com/greaka/discordwvwbot" class="side">
        <input type="submit" value="Github Repository">
    </form>
    <form action="https://discord.gg/7dssenc" class="side">
        <input type="submit" value="Discord Support Server">
    </form>
    <h2>WvW Bot</h2>

    <h3>What is it for?</h3>
    <p>This bot will assign you roles on Discord based on your WvW world. For this to work, you will need to provide an
        API-Key
        from
        <a href="https://account.guildwars2.com/applications" target="_blank">your account page</a>. The API-Key only
        needs account and progression permissions and has to include
        <code>wvwbot</code> in the name.</p>
    <h3>And behind the scenes?</h3>
    <p>This bot will save your Discord ID and your API-Key. If you want to add another API-Key, simply place your new
        key in
        the box below. If you want to delete everything the bot knows about you, press
        <code>Delete all my data</code>.</p>
    <h3>I transfered to another world, what now?</h3>
    <p>Your roles get updated whenever you enter a new API-Key and every 24h. If you just changed your world and want
        your server
        roles updated, either wait up to 24h or press
        <code>Sync now</code> below. After, your roles will be updated.</p>
    <h3>Can I have it on my own server?</h3>
    <p>If you want to invite this bot to your own Discord server, click
        <a href="/invite" target="_blank">here</a>. To manage the bot on your server, visit the <a
            href="/dashboard">Dashboard</a>.</p>
    <h3>Login with discord? Are you trying to steal my password?</h3>
    <p>Don't worry. When you click on this button, you will see exactly what the bot will be able to see if you choose
        to let
        it. The bot will only ask for your ID so it knows who you are.</p>
    <br>
    <form action="/login">
        API-Key:
        <br>
        <input type="text" name="key" value="">
        <br>
        <br>
        <input type="submit" value="Verify" class="fs15">
    </form>
    <br>
    <br>
    <form action="/login">
        <input type="text" name="key" value="deletemydata" class="hidden">
        <input type="submit" value="Delete all my data" class="warning">
    </form>

</body>

</html>
