body {
    background-color: #2C2F33;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: auto;
    padding-left: 10px;
}

[type="checkbox"] {
    display: none;
}

[type="checkbox"]+label {
    position: relative;
    padding-left: 3.2em;
    padding-top: .1em;
    cursor: pointer;
    top: 10px;
}

[type="checkbox"]+label:before,
[type="checkbox"]+label:after {
    content: '';
    position: absolute;
    height: 18px;
}

[type="checkbox"]+label:before {
    left: 0;
    top: 0;
    width: 42px;
    border: 2px solid #72767d;
    background: #72767d;
    border-radius: 0.8em;
    z-index: -1;
}

[type="checkbox"]+label:after {
    margin: 2px;
    top: 0;
    left: 0;
    background-color: #fff;
    border-radius: 50%;
    width: 18px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
    transition: all .1s ease-in-out;
}

[type="checkbox"]:checked+label:after {
    left: 24px;
}

[type="checkbox"]:checked+label:before {
    background-color: #7289DA;
    border-color: #7289DA;
}

a:link,
a:visited {
    color: #7289DA;
}

.nav a {
    color: #fff;
    text-decoration-line: none;
}

h3,
code {
    color: #d38b34;
}

code {
    background-color: #23272a;
}

.side {
    float: right;
    margin-right: 5px;
}

input {
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

[type=text] {
    padding: 5px;
    border: 1 solid;
}

[type=submit] {
    padding: 5px 15px;
    background-color: #7289DA;
    border: 0 none;
    cursor: pointer;
}

.flex {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    height: 100%;
}

.nav {
    flex: 0 0 200px;
    white-space: nowrap;
}

.content {
    flex: 10 1;
    padding: 0 calc(100% - 1500px) 0 20px;
}

label h3 {
    display: inline;
}

:not(label) h3 {
    margin-top: 40px;
}

#explanation {
    margin: 10px;
    padding: 0 10px;
    background-color: rgba(211, 139, 52, 0.1);
    box-shadow: 0px 0px 1px 2px rgba(211, 139, 52, 0.1);
}

#explanation,
#explanation *,
.mode-based,
.mode-based *,
.linked,
.linked *,
.delete-linked,
.delete-linked * {
    max-height: 100%;
    opacity: 1;
    transition: opacity 0.15s ease-in-out, all 0.15s 0.15s;
}

#check-explain:not(:checked)~#explanation,
#check-explain:not(:checked)~#explanation *,
#radioall:checked~.not-all-servers,
#radioall:checked~.not-all-servers *,
#radioall:not(:checked)~.all-servers,
#radioall:not(:checked)~.all-servers *,
#radioone:not(:checked)~.one-server,
#radioone:not(:checked)~.one-server *,
#radiouser:not(:checked)~.user-based,
#radiouser:not(:checked)~.user-based *,
#allow-linked:not(:checked)~.linked,
#allow-linked:not(:checked)~.linked *,
#squash:checked~.delete-linked,
#squash:checked~.delete-linked * {
    opacity: 0;
    margin: 0 auto;
    padding-top: 0;
    padding-bottom: 0;
    max-height: 0;
}

.radio-toolbar {
    padding: 10px 0;
}

[type="radio"] {
    display: none;
}

label.radio-toolbar {
    padding: 10px;
    background-color: #23272a;
    border-radius: 8px;
    box-shadow: 0 2px 2px #000;
    margin: 5px;
    cursor: pointer;
}

label:hover.radio-toolbar {
    box-shadow: 0 0 0 #000;
}

[type="radio"]:checked+label,
.nav .active {
    color: #7289DA;
}

.spacer {
    margin-top: 20px;
}

li {
    text-decoration-line: underline
}

.warning {
    color:black;
    background-color: red;
}

.hide {
    display:none;
}

.submit {
    font-size: 20px;
    margin: 100px 5px 0 0;
}

.fs15 {
    font-size: 15px;
}
